.cart {
  position: relative;

  &--button {
    position: relative;
  }

  &--icon {
    font-size: 26px;
  }

  &--counter {
    background: red;
    border-radius: 9px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
    position: absolute;
    right: 0px;
    top: -10px;
    width: 18px;
  }

  &--details {
    background: white;
    border: 1px solid lightgray;
    position: absolute;
    right: 0;
    width: 250px;
    z-index: 1;
  }

  &--movie-poster {
    width: 40px;
  }

  &--empty-cart-warning {
    text-align: center;
  }

  &--movie-item {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
  }

  &--remove-all-icon {
    margin-right: 10px;
  }

  &--remove-all-button {
    border-top: 1px solid lightgray;
    font-size: 15px;
    padding: 15px;
    width: 100%;
  }
}
