.movie {

  &--poster {
    margin-top: 30px;
    width: 100%;
  }

  &--title {
    display: inline-block;
  }

  &--add-item-button {
    display: inline-block;
    margin-left: 15px;
    position: relative;
  }

  &--add-item-icon {
    font-size: 20px;
  }
}
