body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 988px;
}
